<div class="main-container">
  <div class="form">
      <div class="form-row sfc-text-input-red-theme">
          <i class="icon"></i>
          <sfc-text-input id="email-input" icon="envelope">
              <input class="test-class" type="text" name="sfc-text-input" placeholder="Test input pls">
          </sfc-text-input>
      </div>
      <div class="form-row">
          <i class="icon"></i>
          <sfc-text-input id="password-input" icon="lock">
              <input class="test-class" type="text" name="sfc-text-input" placeholder="Test input pls">
          </sfc-text-input>
      </div>
  </div>
</div>