<header class="l-header v-center-parent">

  <div class="header">
    <a routerLink="" class="logo">CompanyLogo</a>
    <div class="header-right" routerLinkActive="menu-active">
      <a routerLinkActive="menu-active" routerLink="text-input">Text-Input</a>
      <a routerLinkActive="menu-active" routerLink="text-area">Text-Area</a>
      <a routerLinkActive="menu-active" routerLink="file-input">File-Input</a>
      <a routerLinkActive="menu-active" routerLink="select-input">Select-Input</a>
      <a routerLinkActive="menu-active" routerLink="loader">Loader</a>
    </div>
  </div>

</header>

<main >

  <div>

    <router-outlet></router-outlet>

  </div>

</main>

<!-- <div class="demo-container">

  <div class="background default-background">
    <form [formGroup]="customInputForm" autocomplete="off">

      <div class="input-container">
        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-first" label="First Name" placeholder="Placeholder"
              formControlName="firstName">
            </sfc-text-input>
            <sfc-text-area-input id="demo-text-input-first" label="First Name" formControlName="customTextArea"
              helper-text="Defined" icon="fa fa-user">
            </sfc-text-area-input>
          </div>
          <div>
            <sfc-text-input id="demo-text-input-last" label="Last Name" formControlName="lastName"></sfc-text-input>
            <sfc-file-input fileInputType="inline" icon="fa fa-camera" id="demo-input-field" label="Photo" helper-text="Defined"
              formControlName="file" [validations]="{required: 'Photo is required', fileExtension: 'File extension is invalid'}"></sfc-file-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-not-valid" label="Not validatable"></sfc-text-input>
          </div>
          <div>
            <sfc-text-input id="demo-text-input-disabled" label="Disabled" placeholder="I am disabled"
              formControlName="disabledInput"></sfc-text-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-password" type=password label="Password" placeholder="Password"
              formControlName="password"></sfc-text-input>
          </div>
          <div>
            <sfc-text-input id="demo-text-input-helper" label="Helper" helper-text="Helper text is it"
              formControlName="helper"></sfc-text-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-defined" label="Defined" helper-text="Defined"
              formControlName="defined">
            </sfc-text-input>
          </div>

          <div>
            <sfc-text-input id="demo-text-input-icon" label="Icon" helper-text="Icon helper" formControlName="icon"
              icon="fa fa-user"></sfc-text-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-validation-defined" label="Defined validation"
              helper-text="Defined validation" formControlName="definedValidation"
              [validations]="{required: 'First name is required', minlength: 'Min length is not valid', maxlength: 'Max length is not valid'}">
            </sfc-text-input>
          </div>

          <div>
            <sfc-text-input id="demo-text-input-validation-undefined" label="Undefined validation"
              helper-text="Undefined validation" formControlName="undefinedValidation" icon="fa fa-pencil">
            </sfc-text-input>
          </div>
        </div>

      </div>

    </form>
  </div>

  <div class="background dark-background sfc-text-input-dark-theme">
    <form [formGroup]="customInputForm" autocomplete="off">

      <div class="input-container">
        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-first" label="First Name" placeholder="Placeholder"
              formControlName="firstName">
            </sfc-text-input>
          </div>
          <div>
            <sfc-text-input id="demo-text-input-last" label="Last Name" formControlName="lastName"></sfc-text-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-not-valid" label="Not validatable"></sfc-text-input>
          </div>
          <div>
            <sfc-text-input id="demo-text-input-disabled" label="Disabled" placeholder="I am disabled"
              formControlName="disabledInput"></sfc-text-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-password" type=password label="Password" placeholder="Password"
              formControlName="password"></sfc-text-input>
          </div>
          <div>
            <sfc-text-input id="demo-text-input-helper" label="Helper" helper-text="Helper text is it"
              formControlName="helper"></sfc-text-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-defined" label="Defined" helper-text="Defined"
              formControlName="defined">
            </sfc-text-input>
          </div>

          <div>
            <sfc-text-input id="demo-text-input-icon" label="Icon" helper-text="Icon helper" formControlName="icon"
              icon="fa fa-user"></sfc-text-input>
          </div>
        </div>

        <div class="input-row">
          <div>
            <sfc-text-input id="demo-text-input-validation-defined" label="Defined validation"
              helper-text="Defined validation" formControlName="definedValidation"
              [validations]="{required: 'First name is required', minlength: 'Min length is not valid', maxlength: 'Max length is not valid'}">
            </sfc-text-input>
          </div>

          <div>
            <sfc-text-input id="demo-text-input-validation-undefined" label="Undefined validation"
              helper-text="Undefined validation" formControlName="undefinedValidation" icon="fa fa-pencil">
            </sfc-text-input>
          </div>
        </div>

      </div>

    </form>
  </div>

  <div>
    <pre><code>{{ customInputForm.value | json }}</code></pre>
    <h1>Valid: {{customInputForm.valid}}</h1>
  </div>

  <button (click)="submit()">Send form</button>
</div> -->