<div class="demo-container">
    <h1>SELECT INPUT</h1>
    <div class="theme-switcher">
        <button (click)="this.theme = 'common'">Common</button>
        <button (click)="this.theme = 'dark'">Dark</button>
    </div>

    <div class="background"
        [ngClass]="(theme=='common')?'default-background':['sfc-text-input-dark-theme', 'dark-background']">
        <form [formGroup]="customInputForm" autocomplete="off">

            <div class="input-container">

                <h3>Single</h3>
                <hr>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-full-empty" formControlName="inputSelectFullEmpty">
                        </sfc-select-input>
                    </div>
                    <div>
                        <sfc-select-input id="demo-select-with-data" formControlName="inputSelectWithData"
                            [data]="data">
                        </sfc-select-input>
                    </div>
                    <div>
                        <sfc-select-input id="demo-select-with-label" formControlName="inputSelectWithLabel"
                            [data]="data" label="Single select label">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-with-placeholder" formControlName="inputSelectWithPlace"
                            [data]="data" placeholder="Single select place">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-with-labelandplace"
                            formControlName="inputSelectWithLabelPlace" [data]="data" label="Single select label"
                            placeholder="Single select place">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-custom-default" formControlName="inputSelectCustomDefault"
                            [data]="data" label="Single select custom default"
                            placeholder="Single select custom default" [defaultDisplayValue]="defaultDisplayValue">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-without-default" formControlName="inputSelectWithoutDefault"
                            [data]="data" label="Single select without default"
                            placeholder="Single select without default" [showDefaultOption]="false">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-disabled" formControlName="inputSelectDisabled" [data]="data"
                            label="Single select disabled" placeholder="Single select disabled">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-icon" formControlName="inputSelectIcon" [data]="data"
                            label="Single select icon" placeholder="Single select icon" icon="fa fa-star">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-helper" formControlName="inputSelectHelper" [data]="data"
                            label="Single select helper" placeholder="Single select helper" icon="fa fa-star"
                            helper-text="helper text test">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-with-value" formControlName="inputSelectWithValue"
                            [data]="data" label="Single select with value" placeholder="Single select with value"
                            icon="fa fa-star" helper-text="helper text with value">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-single" formControlName="inputSelectSingle" [data]="data"
                            label="Single select single" placeholder="Single select single">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-validation" formControlName="inputSelectValidation"
                            [data]="data" label="Single select valiation" placeholder="Single select valiation"
                            icon="fa fa-star" helper-text="helper text valiation">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-validation-with-value"
                            formControlName="inputSelectValidationWithValue" [data]="data"
                            label="Single select valiation with-value" placeholder="Single select valiation with-value"
                            icon="fa fa-star" helper-text="helper text valiation with-value">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-validation-with-value-valid"
                            formControlName="inputSelectValidationWithValueValid" [data]="data"
                            label="Single select valiation with-value VALID"
                            placeholder="Single select valiation with-value VALID" icon="fa fa-star"
                            helper-text="helper text valiation with-value VALID">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">

                    <div>
                        <sfc-select-input id="demo-select-validation-with-value-val-text"
                            formControlName="inputSelectValidationWithValueValText" [data]="data"
                            label="Single select valiation with-value ValText"
                            placeholder="Single select valiation with-value ValText" icon="fa fa-star"
                            helper-text="helper text valiation with-value ValText"
                            [validations]="{equalOrInclude: 'Include invalid', max: 'Max value is not valid'}">
                        </sfc-select-input>
                    </div>
                </div>

                <hr>
                <h3>Multiple</h3>
                <hr>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-multiple-empty" formControlName="inputSelectMultipleEmpty"
                            label="Muliple select Multiple empty" placeholder="Muliple select Multiple empty"
                            helper-text="helper text Multiple empty" [isMultiple]="true">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-multiple" formControlName="inputSelectMultiple" [data]="data"
                            label="Muliple select Multiple" placeholder="Muliple select Multiple" icon="fa fa-star"
                            helper-text="helper text Multiple" [isMultiple]="true">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-multiple-without-default"
                            formControlName="inputSelectultipleWithoutDefault" [data]="data"
                            label="Muliple select without default" placeholder="Muliple select without default"
                            [isMultiple]="true" [showDefaultOption]="false">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-multiple-with-value"
                            formControlName="inputSelectMultipleWithValue" [data]="data"
                            label="Muliple select with value" placeholder="Muliple select with value" icon="fa fa-star"
                            helper-text="helper text Multiple with value" [isMultiple]="true">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-multiple-disabled"
                            formControlName="inputSelectultipleDisabled" [data]="data" label="Muliple select disabled"
                            placeholder="Muliple select disabled" [isMultiple]="true">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-multiple-not-found"
                            formControlName="inputSelectultipleNotFound" [data]="data" label="Muliple select not found"
                            placeholder="Muliple select not found" [isMultiple]="true">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-multiple-validation"
                            formControlName="inputSelectMultipleValidation" [data]="data"
                            label="Muliple select valiation" placeholder="Muliple select valiation" icon="fa fa-star"
                            helper-text="Muliple select validation" [validations]="{equalOrInclude: 'Include invalid'}"
                            [isMultiple]="true">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-multiple-validation-value"
                            formControlName="inputSelectMultipleValidationWithValue" [data]="data"
                            label="Muliple select valiation value" placeholder="Muliple select valiation value"
                            icon="fa fa-star" helper-text="Muliple select validation value"
                            [validations]="{required: 'This field required', equalOrInclude: 'Include invalid'}"
                            [isMultiple]="true">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-multiple-validation-value-invalid"
                            formControlName="inputSelectMultipleValidationWithValueInv" [data]="data"
                            label="Muliple select valiation value invalid"
                            placeholder="Muliple select valiation value invalid" icon="fa fa-star"
                            helper-text="Muliple select validation value invalid"
                            [validations]="{required: 'This field required', equalOrInclude: 'Include invalid'}"
                            [isMultiple]="true">
                        </sfc-select-input>
                    </div>

                </div>

                <hr>
                <h3>OptGroup</h3>
                <hr>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-optgroup-empty" formControlName="inputSelectOptGroupEmpty"
                            [data]="datagroup" label="OptGroup select empty" placeholder="OptGroup select empty"
                            icon="fa fa-star" helper-text="helper OptGroup select empty">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-optgroup-value" formControlName="inputSelectOptGroupWithValue"
                            [data]="datagroup" label="OptGroup select with value"
                            placeholder="OptGroup select with value" icon="fa fa-star"
                            helper-text="helper OptGroup select with value">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-optgroup-without-default"
                            formControlName="inputSelectOptGroupWithoutDefault" [data]="datagroup"
                            label="OptGroup select without default" [showDefaultOption]="false">
                        </sfc-select-input>
                    </div>
                </div>

                <div class="input-row">
                    <div>
                        <sfc-select-input id="demo-select-optgroup-validation"
                            formControlName="inputSelectOptGroupValiation" [data]="datagroup" icon="fa fa-star"
                            label="OptGroup select validation" placeholder="OptGroup select validation"
                            helper-text="helper OptGroup select validation">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-optgroup-validation-range"
                            formControlName="inputSelectOptGroupValiationRange" [data]="datagroup" icon="fa fa-star"
                            label="OptGroup select validation range" placeholder="OptGroup select validation range"
                            helper-text="helper OptGroup select validation range">
                        </sfc-select-input>
                    </div>

                    <div>
                        <sfc-select-input id="demo-select-optgroup-validation-text"
                            formControlName="inputSelectOptGroupValiationText" [data]="datagroup" icon="fa fa-star"
                            label="OptGroup select validation text" placeholder="OptGroup select validation text"
                            helper-text="helper OptGroup select validation text"
                            [validations]="{equalOrInclude: 'Include invalid'}">
                        </sfc-select-input>
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div>
        <pre><code>{{ customInputForm.getRawValue() | json }}</code></pre>
        <h1>Valid: {{customInputForm.valid}}</h1>
    </div>
</div>